%footer.footer.mt-auto.py-4
  .container
    .row
      .col-md-6
        %p.mb-0 &copy; 2025 Expe Ingeniería Aplicada. Todos los derechos reservados.
      .col-md-6.text-md-end
        %ul.list-inline.mb-0
          %li.list-inline-item
            = link_to "#", class: "text-reset" do
              %i.bi.bi-facebook
          %li.list-inline-item
            = link_to "#", class: "text-reset" do
              %i.bi.bi-twitter-x
          %li.list-inline-item
            = link_to "#", class: "text-reset" do
              %i.bi.bi-instagram